@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #d3d2d2;
  --secondary-color: #888888;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.name-nav h1 {
  font-size: 30px;
  line-height: 0.8;
}

.name-nav p {
  font-size: 13px;
}

.name-nav h1 {
  font-size: 30px;
  line-height: 0.9;
}
.name-nav p {
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .name-nav h1 {
    font-size: 60px;
    line-height: 0.8;
  }
  .name-nav p {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  .name-main h1 {
    font-size: 80px;
    line-height: 0.8;
  }

  .name-main p {
    font-size: 24px;
  }
}

.project-grayscale:hover {
  filter: blur(20px) grayscale(20);
}

.custom-textarea {
  resize: none; /* Disable resizing of the textarea */
  /* background-attachment: local; */
  background-image: repeating-linear-gradient(
    black,
    black 30px,
    var(--secondary-color) 30px,
    var(--secondary-color) 31px
  );
  line-height: 31px;
  padding: 0px 3px;
  scroll-behavior: smooth;
}

/* Hide the default scrollbar */
/*  */

/* Track */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
}

.bg-gradient {
  left: calc(50% - 300px);
  top: calc(50% - 180px);
}
