@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #888888;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.name-nav h1 {
  font-size: 60px;
  line-height: 1;
}

.name-main h1 {
  font-size: 80px;
  line-height: 0.6;
}

.name-main p {
  font-size: 24px;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #333333 #f0f0f0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333333;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}


/* #list-container {
  perspective: 1000px; /* Set the perspective to create the 3D effect */
  /* transform: rotateX(5deg) scale(1); */
/* } */
